#Banner{
    font-family: "Bebas Neue";
    font-weight: bold;
    margin-left: 5%;
    font-size: 800%;
    color: rgb(29, 36, 28);
}
#avt{
    width: 225px;
    height: 225px;
    margin-top: 20px;
    margin-left: 7%;
    border-radius: 50%;
    border-color: darkslategray;
    border-style: solid;
    border-width: 12px;
}
#chap{
    font-family: "Noto Sans Mono";
    margin-left: 3%;
    font-size: 300%;
    background-color: rgb(109, 131, 70);
}
.sicon1{
    margin-left: 7.5%;
}
#stk_vcb_button{
    margin-left: 7%;
}
#stk_momo_button{
    margin-left: 7%;
}

#ver{
    margin-left: 3%;
}

@media screen and (max-width: 600px){
    #Banner{
        font-family: "Bebas Neue";
        font-weight: bold;
        margin-left: 5%;
        font-size: 450%;
        text-align: center;
        color: rgb(29, 36, 28);
    }

    #avt{
        width: 120px;
        height: 120px;
        margin-top: 20px;
        margin-left: 32%;
        border-radius: 50%;
        border-color: darkslategray;
        border-style: solid;
        border-width: 7px;
    }

    #ver{
        text-align: right;
        margin-right: 1%;
    }

    #chap{
        font-family: "Noto Sans Mono";
        background-color: rgb(95, 114, 63);
        text-align: center;
        font-size: 250%;
    }
    
    .sicon1{
    height: 65px;
    width: 65px;
    margin-left: 11%;
    margin-bottom: 2%;
    }
    #yt{
        height: 65px;
        width: auto;
        margin-left: 11%;
        margin-bottom: 2%;
    }
    #tt{
        height: 72px;
        width: auto;
        margin-left: 15%;
        margin-bottom: 2%;
    }

    #gm{
        height: 65px;
        width: auto;
        margin-left: 3%;
        margin-bottom: 2%;
    }
    #git{
        width: auto;
        margin-left: 23%;
        margin-bottom: 2%;
    }

    #stk_vcb_button{
        margin-left: 0%;
        height: 95px;
        width: auto;
    }
    #stk_momo_button{
        margin-left: 8%;
        height: 90px;
        width: auto;
    }

    #paypal{
        margin-left: 8%;
        height: 85px;
        width: auto;
    }
    
}
